{# Inherit a parent template called base.html #}
{% extends "base.html" %}
{# Add the title for this page #}
{% block title %}Introduction{% endblock %}
{# Add the content for this page #}
{% block content %}
    <h1>Implementation</h1>
    <h2>Implementation approach</h2>
    <p>.g. what process(es) do you intend to use to manage the project such as Scrum, CRISP-DM etc</p>
    <h2>Testing</h2>
    <p> i.e. how do you plan to test the app? what types of testing will you carry out?</p>
    <h2>Anything else you think is relevant</h2>
{% endblock %}